/* General */
.container-fluid {
    padding: 0.6% 15%;
}

hr {
    color: white;
    width: 50%;
    text-align: center;
    margin: 1% auto;
}

p {
    text-align: center;
    line-height: 1;
    font-family: "Playfair Display";
}

a {
    text-decoration: none;
}

/* Navbar */
.logo {
    width: 20%;
}

.nav-item {
    font-family: "Playfair Display";
    font-size: 1.2rem;
}

/* Cover */
.cover {
    background-color: #E8C4C4;
    height: 500px;
    padding: 3% 0;
}

h1 {
    color: #2B3A55;
    /* color: white; */
    font-weight: 400;
    font-size: 3.5rem;
    font-family: "Playfair Display";
    padding-bottom: 4%;
}

.cover-pic {
    width: 80%;
}

.pic-div {
    text-align: right;
}

.btn-lg {
    font-family: "Playfair Display";
}

/* Opening times */
h2 {
    color: #CE7777;
    padding-bottom: 8%;
    text-align: left;
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 3rem;
}

.table {
    width: 100%;
    margin: auto;
}

td {
    text-align: left;
}

.opening-times-div {
    padding-top: 13%;
    padding-bottom: 5%;
}

/* Location */
.location {
    background-color: #F2E5E5;
    padding-top: 3%;
    height: 400px;
}

.center {
    padding-top: 5%;
    text-align: center;
    padding-bottom: 3%;
}

/* About */
.about {
    padding: 5% 0;
}

.about-pic {
    width: 80%;
}

/* Footer */
footer {
    background-color: #2B3A55;
}

.socials {
    font-size: 1.5rem;
    color: white;
}

h3 {
    color: white;
    font-family: 'Playfair Display', Times, serif;
    font-weight: 400;
    font-size: 1rem;
}

.end-address {
    color: gainsboro;
    font-size: 0.75rem;
}